html,
body {
  height: 100%;
}
.wrap {
  min-height: 100%;
  height: auto;
  margin: 0 auto -60px;
  padding: 0 0 60px;
}
@font-face {
  font-family: "AvenirNext Bold";
  src: url("fonts/AvenirNextLTPro-Bold.otf");
}
@font-face {
  font-family: "AvenirNext Regular";
  src: url("fonts/AvenirNextLTPro-Regular.otf");
}
@font-face {
  font-family: "AvenirNext It";
  src: url("fonts/AvenirNextLTPro-It.otf");
}
body {
  font-family: AvenirNext Regular;
  font-size: 14px;
  background: url("../images/delf-renniel-rivera-260193.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
/* this color use @brand-primary fron bootstrap.min.css*/
/*#cfcfcf;*/
.text-default {
  color: #ffffff !important;
}
.text-pink {
  color: #db0081;
}
.text-blue {
  color: #40a7eb;
}
.text-yellow {
  color: #fcef2d;
}
.text-orange {
  color: #ec6a44;
}
.text-violet {
  color: #301948;
}
.text-green {
  color: #4ea645;
}
.text-light-grey {
  color: #f2f0f5;
}
.text-grey {
  color: #aeaeae;
}
.bg-default {
  background-color: #ffffff !important;
}
.bg-orange {
  background-color: #ec6a44;
}
.bg-green {
  background-color: #4ea645;
}
.bg-light-blue {
  background-color: #ebf6fc;
}
.bg-light-grey {
  background-color: #f2f0f5;
}
.bg-grey {
  background-color: #aeaeae;
}
.bg-violet {
  background-color: #301948;
}
.text-bold {
  font-family: AvenirNext Bold;
}
.btn_gruvi {
  background: url("../images/Grad_Purple-2-Pink.png") no-repeat;
  background-size: 100% 100%;
  overflow: hidden;
  color: #ffffff !important;
  font-size: 16px;
}
.btn-green {
  color: #000;
  background-color: #4ea645;
  border-color: #4ea645;
  border-radius: 0px;
}
.btn-default {
  color: #ffffff !important;
  background-color: #aeaeae;
  border-color: #aeaeae;
  border-radius: 0px;
}
.btn-red {
  color: #fff;
  background-color: #ac2925;
  border-color: #ac2925;
  border-radius: 0px;
}
/* form*/
.form-custom .form-control {
  border-radius: 0px;
  border-color: #db0081;
}
.form-custom .control-label,
.form-custom label {
  color: #db0081;
}
.form-custom .form-control-notes {
  font-size: 10px;
  margin-top: -10px;
}
/* Header */
header .navbar {
  height: 90px;
  margin-bottom: 0px;
  border: 0px;
  /*        background-color: @gruvi-violet;*/
  background-color: transparent;
  z-index: 20000;
  position: relative;
  border-radius: 0px;
}
header .navbar .navbar-brand {
  padding: 23px 15px;
  overflow: hidden;
  height: 90px;
}
header .navbar .navbar-brand img {
  max-height: 44px;
}
header .navbar .navbar-nav {
  padding: 20px 0px;
}
header .navbar .navbar-nav li a {
  padding: 4px 10px;
  margin: 0px 5px;
  color: #ffffff !important;
}
header .navbar .navbar-nav li a.btn {
  border: 1px solid #db0081;
  color: #ffffff !important;
}
header .navbar .navbar-nav > li.dropdown .dropdown-menu {
  margin-top: 0;
  border-radius: 0;
  border: 3px solid #db0081;
  padding: 12px 16px 16px 16px;
  min-width: 220px;
}
header .navbar .navbar-nav > li.dropdown .dropdown-menu .login_with_fb {
  background-color: #aeaeae;
  color: #ffffff !important;
  display: block;
  overflow: hidden;
}
header .navbar .navbar-nav > li.dropdown .dropdown-menu .login_with_fb img {
  width: 36px;
  float: left;
  margin: 7px 12px;
}
header .navbar .navbar-nav > li.dropdown .dropdown-menu .login_with_fb span {
  display: block;
  text-align: center;
  padding: 8px;
  line-height: 16px;
}
header .navbar .griviBucks_text {
  position: absolute;
  bottom: 10px;
  right: 20px;
}
header .navbar .navbar-collapse li {
  margin: 10px;
}
header .navbar .navbar-collapse .btn {
  color: #db0081;
}
/* Footer */
footer {
  background-color: #301948;
  color: #ffffff !important;
  line-height: 60px;
}
footer a {
  color: #ffffff !important;
}
footer p {
  margin: 0px;
}
footer .navbar-brand {
  padding: 6px 45px 6px 15px;
  overflow: hidden;
  height: 60px;
}
footer .navbar-brand img {
  max-height: 44px;
}
/* Home page*/
.jumbotron {
  background: url("../images/delf-renniel-rivera-260193.jpg") center bottom no-repeat;
  position: relative;
  margin-top: 0px;
  margin-right: auto;
  margin-bottom: 0px;
  margin-left: auto;
  padding-left: 0px!important;
  padding-right: 0px!important;
  background-size: 100% auto;
  border-radius: 0px!important;
  /*    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;*/
  height: 422px;
  width: 100%;
}
.jumbotron .bottom {
  position: absolute;
  width: 100%;
  bottom: 26px;
}
.jumbotron h1,
.jumbotron .h1 {
  color: #ffffff !important;
  font-size: 40px;
}
.main_container {
  min-height: 30vh;
  background-color: #f2f0f5;
}
.main_container .main_container_header {
  background: url("../images/Grad_Purple-2-Pink.png") no-repeat;
  background-size: 100% auto;
  overflow: hidden;
  padding: 15px 20px 20px 20px;
  height: 60px;
}
.main_container .main_container_header h1,
.main_container .main_container_header .h1,
.main_container .main_container_header h2,
.main_container .main_container_header .h2,
.main_container .main_container_header h3,
.main_container .main_container_header .h3,
.main_container .main_container_header h4,
.main_container .main_container_header .h4,
.main_container .main_container_header h5,
.main_container .main_container_header .h5,
.main_container .main_container_header h6,
.main_container .main_container_header .h6 {
  margin: 0px auto;
}
.main_container .main_container_content {
  padding: 20px;
}
.reader_card {
  border-top-right-radius: 8px;
  border: 1px solid #301948;
  height: 240px;
}
.reader_card .photo {
  width: 60%;
  height: 100%;
  overflow: hidden;
  float: left;
  position: relative;
}
.reader_card .photo img {
  width: 100%;
  height: auto;
}
.reader_card .photo .photo_bottom {
  background: url("../images/Transparent-PINK-Fade.png") no-repeat;
  background-size: 100% 100%;
  overflow: hidden;
  position: absolute;
  width: 100%;
  z-index: 100000;
  bottom: 0px;
  padding: 5px;
}
.reader_card .content_reader_card {
  width: 40%;
  float: right;
  padding: 5px;
  overflow: hidden;
  position: relative;
  height: 100%;
}
.reader_card .content_reader_card .bottom {
  overflow: hidden;
  position: absolute;
  width: 100%;
  z-index: 100000;
  bottom: 0px;
  padding: 5px;
  color: #ffffff !important;
  margin-left: -5px;
}
.home_bottom {
  background: url("../images/Grad_Purple-2-Pink.png") no-repeat;
  background-size: 100% 100%;
  overflow: hidden;
  padding: 20px;
}
.home_bottom .img-thumbnail {
  height: 200px;
  width: 200px;
  padding: 0px;
  border: 4px solid #db0081;
}
/* Page container - main rules */
.page-wrapper {
  background-color: rgba(255, 255, 255, 0.5);
  height: 100%;
  position: relative;
  overflow: hidden;
  margin: 0px;
}
.page-wrapper .page-title-default {
  padding: 15px 30px;
  width: 100%;
}
.page-wrapper .page-title-default h2,
.page-wrapper .page-title-default h3 {
  margin-top: 10px;
}
.page-wrapper .page-title {
  min-width: 400px;
  height: 50px;
  padding: 0px 30px;
  background: url("../images/Grad_Purple-2-Pink.png") no-repeat;
  background-size: 100% auto;
  overflow: hidden;
  line-height: 50px;
  display: inline-block;
}
.page-wrapper .page-title.h3 {
  margin: 0px;
}
.page-wrapper .page-container {
  margin: 30px;
  min-height: 50vh;
}
.page-wrapper .page-box-container {
  margin: 0px 0px 20px 0px;
}
.page-wrapper .panel {
  background-color: #ffffff !important;
  border-radius: 0px;
}
.page-wrapper .panel-default {
  border: 2px solid #db0081;
  overflow: hidden;
}
.page-wrapper .panel-info {
  border: 2px solid #aeaeae;
  overflow: hidden;
}
/* Sign Up */
.signup_page {
  width: 276px;
  margin-left: auto!important;
  margin-right: auto!important;
  padding: 20px;
}
.signup_page .login_with_fb {
  background-color: #db0081;
  color: #ffffff !important;
  display: block;
  overflow: hidden;
}
.signup_page .login_with_fb img {
  width: 36px;
  float: left;
  margin: 5px 12px;
}
.signup_page .login_with_fb span {
  display: block;
  text-align: center;
  padding: 5px;
  line-height: 36px;
}
.form-container {
  border: 1px solid #000;
  margin-bottom: 10px;
  /*        ::-webkit-input-placeholder { 
            text-transform: uppercase;
          }
          ::-moz-placeholder { 
            text-transform: uppercase;
          }
          :-ms-input-placeholder { 
            text-transform: uppercase;
          }
          :-moz-placeholder { 
            text-transform: uppercase;
          }*/
}
.form-container .form-control {
  border-top: 0px;
  border-left: 0px;
  border-right: 0px;
  border-bottom: 1px solid #aeaeae;
  border-radius: 0px;
  -webkit-box-shadow: none;
  box-shadow: none;
  /*            text-transform: uppercase;*/
  font-size: 13px;
}
.form-container .form-group:last-child .form-control {
  border-bottom: 0px;
}
.form-container .form-group {
  margin-bottom: 0px;
  padding: 0px 10px 0px 0px;
}
.form-container .help-block-error {
  margin: 0px!important;
}
/* Gruvi Bucks */
.gruvi-bucks-create .add_title {
  margin-bottom: 15px;
  overflow: hidden;
}
.gruvi-bucks-create .add_title .add_number_container {
  width: 66px;
  height: 66px;
  font-size: 54px;
  text-align: center;
  line-height: 66px;
  font-weight: bold;
  margin-right: 10px;
}
.gruvi-bucks-create .btn-green {
  padding: 10px 40px;
  font-size: 18px;
  width: 100%;
}
.gruvi-bucks-create .enter_ammount {
  margin: 40px 0px 0px 44px;
  padding: 0px 5px;
}
.gruvi-bucks-create .enter_ammount .input_alt {
  border: 2px solid #db0081;
  width: 100%;
  text-align: center;
  font-size: 30px;
  padding: 5px 0px;
  color: #aeaeae;
}
/* Profile */
.profile_container {
  padding: 44px 500px 0 0px;
  overflow: hidden;
  width: 100%;
  max-width: 1140px;
  margin: 0 auto;
}
.profile_container .profile_content {
  padding-bottom: 99999px;
  margin-bottom: -99999px;
  float: left;
  width: 100%;
  background-color: #f2f0f5;
}
.profile_top_container {
  /*    height:222px;*/
  /*    margin:60px 0px 0px 0px;*/
}
.profile_top_container .reader_card {
  background-color: #ffffff !important;
  border-top-right-radius: 10px;
  -webkit-box-shadow: 4px 9px 13px 3px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 4px 9px 13px 3px rgba(0, 0, 0, 0.75);
  box-shadow: 4px 9px 13px 3px rgba(0, 0, 0, 0.75);
  max-height: 290px;
  overflow: hidden;
}
.profile_top_container .reader_card .photo {
  width: 40%;
}
.profile_top_container .reader_card .content_reader_card {
  width: 60%;
}
.profile_top_container .profile_container_tags {
  border-top: 1px solid #aeaeae;
  border-bottom: 1px solid #aeaeae;
  padding: 5px 0px;
}
.profile_top_container .profile_container_tags .profile_tags_cell {
  width: 48%;
  font-size: 18px;
  display: inline-block;
}
.sidebar {
  padding: 20px 10px;
  background-color: #f2f0f5;
}
.profile_top_container_right {
  /*    min-height:222px;*/
}
.profile_top_container_right .select_state {
  border: 3px solid #aeaeae;
  color: #db0081;
}
.profile_call_manage {
  padding: 0px 30px;
  border-top: 2px solid #40a7eb;
  /* checkbox aspect */
  /* checked mark aspect */
  /* checked mark aspect changes */
  /* disabled checkbox */
  /* accessibility */
  /* hover style just for information */
}
.profile_call_manage .title_row {
  display: table;
  margin-bottom: 10px;
  width: 100%;
  /*        height: 70px;*/
}
.profile_call_manage .title_row .icn {
  height: 70px;
  margin: 0px auto;
  display: table-cell;
}
.profile_call_manage .title_row .text_for_icn {
  height: 70px;
  display: table-cell;
  vertical-align: middle;
}
.profile_call_manage [type="checkbox"]:not(:checked),
.profile_call_manage [type="checkbox"]:checked {
  position: absolute;
  left: -9999px;
}
.profile_call_manage [type="checkbox"]:not(:checked) + label,
.profile_call_manage [type="checkbox"]:checked + label {
  position: relative;
  padding-left: 4em;
  cursor: pointer;
  line-height: 2.4em;
  margin-bottom: 0px;
}
.profile_call_manage [type="checkbox"]:not(:checked) + label:before,
.profile_call_manage [type="checkbox"]:checked + label:before {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  width: 2.8em;
  height: 2.4em;
  border: 2px solid #db0081;
  background: #f2f0f5;
  border-radius: 4px;
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1);
}
.profile_call_manage [type="checkbox"]:checked + label:after {
  content: '✔';
  position: absolute;
  top: -0.1em;
  left: 0.2em;
  font-size: 3.2em;
  color: #51b25d;
  transition: all .2s;
  /*      content: url('../images/np_check.png');
      background: url('../images/np_check.png');
background-size: 100% 100%;*/
}
.profile_call_manage [type="checkbox"]:not(:checked) + label:after {
  opacity: 0;
  transform: scale(0);
}
.profile_call_manage [type="checkbox"]:checked + label:after {
  opacity: 1;
  transform: scale(1);
}
.profile_call_manage [type="checkbox"]:disabled:not(:checked) + label:before,
.profile_call_manage [type="checkbox"]:disabled:checked + label:before {
  box-shadow: none;
  border-color: #bbb;
  background-color: #ddd;
}
.profile_call_manage [type="checkbox"]:disabled:checked + label:after {
  color: #999;
}
.profile_call_manage [type="checkbox"]:disabled + label {
  color: #aaa;
}
.profile_call_manage [type="checkbox"]:checked:focus + label:before,
.profile_call_manage [type="checkbox"]:not(:checked):focus + label:before {
  border: 2px dotted #aeaeae;
}
.profile_call_manage label:hover:before {
  border: 2px solid #aeaeae !important;
}
/* profile tab chat */
.profile_chat_container {
  /*    padding:0px 15px;*/
  padding-bottom: 99999px;
  margin-bottom: -99999px;
  float: right;
  margin-right: -500px;
  width: 500px;
  background-color: #ebf6fc;
  border: 2px solid #db0081;
  position: relative;
}
.profile_chat_container h3 {
  margin-top: -38px;
  position: absolute;
}
.profile_chat_container .chat_message_row {
  margin: 5px;
}
.profile_chat_container .chat_message_row .field_message {
  background-color: #ffffff;
  border: 1px solid #aeaeae;
  padding: 10px;
}
.profile_chat_container .chat_message_row .delete_message {
  position: absolute;
  right: 7px;
}
.profile_chat_container .enter_message {
  margin: 0px;
}
.profile_chat_container .enter_message input[type="text"] {
  border: 0px;
  height: 34px;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.42857143;
}
.profile_chat_container .enter_message ::-webkit-input-placeholder {
  text-transform: uppercase;
  color: #db0081;
  opacity: 1;
  font-weight: bold;
}
.profile_chat_container .enter_message ::-moz-placeholder {
  text-transform: uppercase;
  color: #db0081;
  opacity: 1;
  font-weight: bold;
}
.profile_chat_container .enter_message :-ms-input-placeholder {
  text-transform: uppercase;
  color: #db0081;
  opacity: 1;
  font-weight: bold;
}
.profile_chat_container .enter_message :-moz-placeholder {
  text-transform: uppercase;
  color: #db0081;
  opacity: 1;
  font-weight: bold;
}
/*# sourceMappingURL=default.css.map */

html .pagination > li > span,
html .pagination > li > a {
    color: #3A0A64; /* purple-ish */
}
html .pagination > .active > a,
html .pagination > .active > span,
html .pagination > .active > a:hover,
html .pagination > .active > span:hover,
html .pagination > .active > a:focus,
html .pagination > .active > span:focus {
    color: #fff;
    background-color: #3A0A64;
    border-color: #3A0A64;
}
